<p class="title-head text-center"><span class="bolder-title">Questionnaire</span> - Answer a few questions to help us understand your project!</p>
<form action="/" class=" pb-3 rounded questFrm system">
    <div class="box-form w-100  px-4 pb-4">
        <div class="row justify-content-between">
            <div class="col-6 my-2 py-1">
                <h4 class="pt-1 mb-1">When is the expected Product Launch?</h4>
                <input _ngcontent-uib-c49="" type="date" name="" id="" class="px-2 dateShow border-0 w-75">
            </div>
            <div class="col-6 my-2 py-1">
                <h4 class="pt-1 mb-1">When is the PDUFA?</h4>
                <input _ngcontent-uib-c49="" type="date" name="" id="" class="px-2 dateShow border-0 w-75">  
            </div>
        </div>
        <div class="row justify-content-between">
            <div class="col-6 my-2 py-1">
                <h4 class="pt-1 mb-1">Who would be the main consumers?</h4>
                <div class="d-flex">
                    <div class="form-check me-3">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                        <label class="form-check-label" for="flexRadioDefault2">
                            Children
                        </label>
                    </div>
                    <div class="form-check me-3">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                        <label class="form-check-label" for="flexRadioDefault2">
                            Male
                        </label>
                    </div>
                    <div class="form-check me-3">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                        <label class="form-check-label" for="flexRadioDefault2">
                            Female
                        </label>
                    </div>
                    <div class="form-check me-3">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                        <label class="form-check-label" for="flexRadioDefault2">
                            Senior Citizen
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-6 my-2 py-1">
                <h4 class="pt-1 mb-1">Who would be the main Targets?</h4>
                <div class="d-flex">
                    <div class="form-check me-3">
                        <input class="form-check-input" type="checkbox" name="flexRadioDefault" id="flexRadioDefault2">
                        <label class="form-check-label" for="flexRadioDefault2">
                            HCPs
                        </label>
                    </div>
                    <div class="form-check me-3">
                        <input class="form-check-input" type="checkbox" name="flexRadioDefault" id="flexRadioDefault2">
                        <label class="form-check-label" for="flexRadioDefault2">
                            HCOs
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-between">
            <div class="col-6 my-2 py-1">
                <h4 class="pt-1 mb-1">Where will be the launch?</h4>
                <select class="form-select w-75" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="col-6 my-2 py-1">
                <h4 class="pt-1 mb-1">What is the Therapy Area?</h4>
                <select class="form-select w-75" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
        </div>
        <div class="row justify-content-between">
            <div class="col-6 my-2 py-1">
                <h4 class="pt-1 mb-1">What would be the business model?</h4>
                <select class="form-select w-75" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="col-6 my-2 py-1">
                <h4 class="pt-1 mb-1">What would be the target specialty?</h4>
                <div class="d-flex">
                    <select class="form-select w-75" aria-label="Default select example">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- copy -->
        <div class="row justify-content-between">
            <div class="col-6 my-2 py-1">
                <h4 class="pt-1 mb-1">When is the expected Product Launch?</h4>
                <input _ngcontent-uib-c49="" type="date" name="" id="" class="px-2 dateShow border-0 w-75">
            </div>
            <div class="col-6 my-2 py-1">
                <h4 class="pt-1 mb-1">When is the PDUFA?</h4>
                <input _ngcontent-uib-c49="" type="date" name="" id="" class="px-2 dateShow border-0 w-75">  
            </div>
        </div>
        <div class="row justify-content-between">
            <div class="col-6 my-2 py-1">
                <h4 class="pt-1 mb-1">Who would be the main consumers?</h4>
                <div class="d-flex">
                    <div class="form-check me-3">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                        <label class="form-check-label" for="flexRadioDefault2">
                            Children
                        </label>
                    </div>
                    <div class="form-check me-3">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                        <label class="form-check-label" for="flexRadioDefault2">
                            Male
                        </label>
                    </div>
                    <div class="form-check me-3">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                        <label class="form-check-label" for="flexRadioDefault2">
                            Female
                        </label>
                    </div>
                    <div class="form-check me-3">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                        <label class="form-check-label" for="flexRadioDefault2">
                            Senior Citizen
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-6 my-2 py-1">
                <h4 class="pt-1 mb-1">Who would be the main Targets?</h4>
                <div class="d-flex">
                    <div class="form-check me-3">
                        <input class="form-check-input" type="checkbox" name="flexRadioDefault" id="flexRadioDefault2">
                        <label class="form-check-label" for="flexRadioDefault2">
                            HCPs
                        </label>
                    </div>
                    <div class="form-check me-3">
                        <input class="form-check-input" type="checkbox" name="flexRadioDefault" id="flexRadioDefault2">
                        <label class="form-check-label" for="flexRadioDefault2">
                            HCOs
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-between">
            <div class="col-6 my-2 py-1">
                <h4 class="pt-1 mb-1">Where will be the launch?</h4>
                <select class="form-select w-75" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="col-6 my-2 py-1">
                <h4 class="pt-1 mb-1">What is the Therapy Area?</h4>
                <select class="form-select w-75" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
        </div>
        <div class="row justify-content-between">
            <div class="col-6 my-2 py-1">
                <h4 class="pt-1 mb-1">What would be the business model?</h4>
                <select class="form-select w-75" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="col-6 my-2 py-1">
                <h4 class="pt-1 mb-1">What would be the target specialty?</h4>
                <div class="d-flex">
                    <select class="form-select w-75" aria-label="Default select example">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- copy -->
    </div>

    
    
    <div class="d-flex justify-content-end mx-0 mt-3 pe-lg-5">
        <button type="button" class="btn btn-outline-secondary mx-2">Save</button>
        <button type="button" class="btn btn-dark me-lg-5">Functional Lead</button>
    </div>
</form>